@use '@angular/material' as mat;

$grey400: mat.define-palette(mat.$grey-palette, 400);
$indigo: mat.define-palette(mat.$indigo-palette);

.favorite-item {

  align-items: center;
  background-color: mat.get-color-from-palette($grey400);
  padding-bottom: 20px;

  .favorite-item_header {
    flex-direction: column-reverse;

    .favorite-item_title {
      text-align: center;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      height: 3.4em;
      padding-bottom: 30px;
    }

    .favorite-item_image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }

  .buttons_wrapper {

    display: flex;
    column-gap: 40px;

    a {
      background-color: mat.get-color-from-palette($indigo);
      text-decoration: none;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 10px 30px;
    }
  }

}