<!-- <mat-card [appColoredBorder]="item.dateStatus" class="search-item"> -->
<mat-card class="favorite-item">
    <mat-card-header class="favorite-item_header">
        <img
            mat-card-image
            class="favorite-item_image"
            [src]="item.image"
            alt=" "
        />
        <!-- <mat-card-subtitle>
            <app-item-statistics
                [statistics]="item.statistics"
            ></app-item-statistics>
        </mat-card-subtitle> -->
        <mat-card-title class="search-item_title">
            {{ item.title }}
        </mat-card-title>
    </mat-card-header>
    <div class="buttons_wrapper">
        <button mat-mini-fab color="primary" (click)="removeFromFavorite()">
            <mat-icon>favorite</mat-icon>
        </button>
        <a routerLink="/main/{{ item.id }}">more...</a>
    </div>
</mat-card>
