<mat-card [appColoredBorder]="dateStatus" class="search-item">
    <mat-card-header class="search-item_header">
        <img
            mat-card-image
            class="search-item_image"
            [src]="channelPictureUrl"
            alt=" "
        />
        <mat-card-subtitle>
            <app-item-statistics
                [statistics]="item.statistics"
            ></app-item-statistics>
        </mat-card-subtitle>
        <mat-card-title class="search-item_title">
            {{ item.title }}
        </mat-card-title>
    </mat-card-header>
    <a routerLink="/main/{{ item.id }}">more...</a>
</mat-card>

<ng-template #moreButton>
    <button mat-raised-button color="primary">more...</button>
</ng-template>
