.favorite-items_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;

  .favorite-items_item_wrapper {
    width: 25%;

    .favorite-items_item {
      display: block;
      width: 100%;
    }
  }
}