<div class="header_wrapper">
    <div>
        <mat-icon class="logo" color="primary">smart_display</mat-icon>
        <input type="text" 
        [(ngModel)]="searchInput"
         (input)="search()" />
        <button mat-mini-fab color="primary" (click)="onToggleSortSettings()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div>
        <span>Your Name</span>
        <button mat-mini-fab color="primary">
            <mat-icon>person</mat-icon>
        </button>
        <app-custom-button [template]="logoutButton" (click)="onLogout()">
        </app-custom-button>
        <app-custom-button
            [template]="adminPageButton"
            (click)="onGoToAdminPage()"
        >
        </app-custom-button>
    </div>
</div>

<ng-template #logoutButton>
    <button mat-raised-button color="primary">Logout</button>
</ng-template>

<ng-template #adminPageButton>
    <button mat-raised-button color="primary">Admin page</button>
</ng-template>
