<div class="app_wrapper">
  <div class="header-search_wrapper">
    <app-header (showSearchResults)="showResults($event)" (toggleSortSettings)="toggleSettings()"></app-header>
    <app-sort-settings *ngIf="isShownSettings" (sortByDate)="sortByDate()" (sortByViewCount)="sortByViewCount()"></app-sort-settings>
  </div>
  <p *ngIf="isShownResults" class="search-results_wrapper">
    <app-search-results [searchItems]="response.items" [isOrderedByDate]="isSortByDate" [isOrderedByView]="isSortByViewCount" [isAsc]="isAsc">
    </app-search-results>
  </p>
</div>