<mat-card [appColoredBorder]="dateStatus" class="search-item">
    <mat-card-header class="search-item_header">
        <img
            mat-card-image
            class="search-item_image"
            [src]="channelPictureUrl"
            alt=" "
        />
        <mat-card-subtitle class="search-item_information">
            <div>
                <mat-icon>remove_red_eye</mat-icon>
                <span>{{ item.statistics.viewCount }}</span>
            </div>
            <div>
                <mat-icon>thumb_up</mat-icon>
                <span>{{ item.statistics.likeCount }}</span>
            </div>
            <div>
                <mat-icon>thumb_down</mat-icon>
                <span>{{ item.statistics.dislikeCount }}</span>
            </div>
            <div>
                <mat-icon>forum</mat-icon>
                <span>{{ item.statistics.commentCount }}</span>
            </div>
        </mat-card-subtitle>
        <mat-card-title class="search-item_title">
          {{item.snippet.title}}
        </mat-card-title>
    </mat-card-header>
    <app-custom-button [template]="moreButton"></app-custom-button>
</mat-card>

<ng-template #moreButton
    ><button mat-raised-button color="primary">more...</button></ng-template
>
