@use '@angular/material' as mat;

$grey400: mat.define-palette(mat.$grey-palette, 400);

.search-item {

  align-items: center;
  background-color: mat.get-color-from-palette($grey400);
  padding-bottom: 20px;

  .search-item_header {
    flex-direction: column-reverse;

    .search-item_title {
      text-align: center;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      height: 3.4em;
      padding-bottom: 30px;
    }

    .search-item_image {
      width: 100%;
      height: auto;
    }
  }
}